holotap.co.uk, www.holotap.co.uk {

    handle_path /api/* {
        reverse_proxy 127.0.0.1:4000
    }

    handle {
        root * D:\holotap\holotap.co.uk\apps\Holotap.WebUI\dist
        try_files {path} /index.html
        file_server
    }
}