holotap.co.uk, www.holotap.co.uk {

    root * D:\holotap\holotap.co.uk\apps\web\dist

    handle_path /api/* {
        reverse_proxy 127.0.0.1:4000
    }

    try_files {path} /index.html

    file_server
}